@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary-light: rgb(241, 255, 255);
    --color-primary: rgb(52, 69, 127);
    --color-primary-dark: rgb(15, 32, 90);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: var(--color-primary-light);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

textarea {
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    padding: 5px;
    margin-top: 5px;
}

.btn {
    background: var(--color-primary-dark);
    color: white;
    width: 20%;
    align-self: flex-end;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.choice {
    font-weight: 700;
    font-size: clamp(10vw, 20vw, 50vw);
}